{
  "openapi": "3.1.1",
  "info": {
    "title": "Optimizely CMS REST API - Content",
    "description": "The Optimizely CMS REST API for Content allows you to define and manage content within your Optimizely CMS environment. This API provides endpoints for creating, retrieving, updating, and deleting content items, as well as managing content types and related definitions. This API uses URL-based versioning (/v1/). Breaking changes will result in a new version. The current version (v1) will be supported for at least 12 months after a new version is released.",
    "version": "v1.1"
  },
  "servers": [
    {
      "url": "https://api.cms.optimizely.com/v1",
      "description": "Optimizely CMS API"
    }
  ],
  "paths": {
    "/applications": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "List applications",
        "description": "List all applications available in the CMS.",
        "operationId": "Applications_List",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Zero based index of the page that should be retrieved.",
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum items per page that should be retrieved.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A single page of items in a paged collection, including paging metadata such as the current page index, page size, and an estimated total item count.",
                  "$ref": "#/components/schemas/ApplicationPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Create application",
        "description": "Create a new application.",
        "operationId": "Applications_Create",
        "parameters": [
          {
            "$ref": "#/components/parameters/Prefer"
          }
        ],
        "requestBody": {
          "description": "The application that should be created.",
          "content": {
            "application/json": {
              "schema": {
                "description": "A CMS application (website or remote website).",
                "$ref": "#/components/schemas/Application"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              },
              "Location": {
                "description": "Indicates the URL of the newly-created resource.",
                "schema": {
                  "type": "string"
                }
              },
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A CMS application (website or remote website).",
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/applications/{key}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get application",
        "description": "Get the application with the provided key.",
        "operationId": "Applications_Get",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the application to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "If provided and the value matches the RFC7232 ETag of the current resource a 304 NotModified response will be returned. Weak ETags will always be ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "description": "If provided and the resource has not been modified since the date a 304 NotModified response will be returned. This parameter will be ignored if an 'If-None-Match' parameter is also provided.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A CMS application (website or remote website).",
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Applications"
        ],
        "summary": "Patch application",
        "description": "Patch an existing application.",
        "operationId": "Applications_Patch",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the application to patch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Prefer"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If provided, the PATCH request will only be considered if the value matches the RFC7232 ETag of the current resource. Weak ETags will always be ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "description": "If provided, the PATCH request will only be considered if the resource has not been modified since the provided date. This parameter will be ignored if an 'If-Match' parameter is also provided.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          }
        ],
        "requestBody": {
          "description": "The values of the application that should be patched formatted according to RFC7396.",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationPatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              },
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A CMS application (website or remote website).",
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Applications"
        ],
        "summary": "Delete application",
        "description": "Deletes the application with the provided key.",
        "operationId": "Applications_Delete",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the application to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Prefer"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If provided, the DELETE request will only be considered if the value matches the RFC7232 ETag of the current resource. Weak ETags will always be ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "description": "If provided, the DELETE request will only be considered if the resource has not been modified since the provided date. This parameter will be ignored if an 'If-Match' parameter is also provided.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A CMS application (website or remote website).",
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blueprints": {
      "get": {
        "tags": [
          "Blueprints"
        ],
        "summary": "List blueprints",
        "description": "List blueprints using the provided parameters.",
        "operationId": "Blueprints_List",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Zero based index of the page that should be retrieved.",
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum items per page that should be retrieved.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A single page of items in a paged collection, including paging metadata such as the current page index, page size, and an estimated total item count.",
                  "$ref": "#/components/schemas/BlueprintPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Create blueprint",
        "description": "Create a new blueprint.",
        "operationId": "Blueprints_Create",
        "parameters": [
          {
            "$ref": "#/components/parameters/Prefer"
          }
        ],
        "requestBody": {
          "description": "The blueprint that should be created.",
          "content": {
            "application/json": {
              "schema": {
                "description": "A blueprint of a content item.",
                "$ref": "#/components/schemas/Blueprint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              },
              "Location": {
                "description": "Indicates the URL of the newly-created resource.",
                "schema": {
                  "type": "string"
                }
              },
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A blueprint of a content item.",
                  "$ref": "#/components/schemas/Blueprint"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blueprints/{key}": {
      "get": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Get blueprint",
        "description": "Get the blueprint with the provided key.",
        "operationId": "Blueprints_Get",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the blueprint to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "If provided and the value matches the RFC7232 ETag of the current resource a 304 NotModified response will be returned. Weak ETags will always be ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "description": "If provided and the resource has not been modified since the date a 304 NotModified response will be returned. This parameter will be ignored if an 'If-None-Match' parameter is also provided.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A blueprint of a content item.",
                  "$ref": "#/components/schemas/Blueprint"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Patch blueprint",
        "description": "Patch an existing blueprint.",
        "operationId": "Blueprints_Patch",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the blueprint to patch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Prefer"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If provided, the PATCH request will only be considered if the value matches the RFC7232 ETag of the current resource. Weak ETags will always be ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "description": "If provided, the PATCH request will only be considered if the resource has not been modified since the provided date. This parameter will be ignored if an 'If-Match' parameter is also provided.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          }
        ],
        "requestBody": {
          "description": "The values of the blueprint that should be patched formatted according to RFC7396.",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/BlueprintPatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              },
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A blueprint of a content item.",
                  "$ref": "#/components/schemas/Blueprint"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Delete blueprint",
        "description": "Deletes the blueprint with the provided key.",
        "operationId": "Blueprints_Delete",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the blueprint to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Prefer"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If provided, the DELETE request will only be considered if the value matches the RFC7232 ETag of the current resource. Weak ETags will always be ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "description": "If provided, the DELETE request will only be considered if the resource has not been modified since the provided date. This parameter will be ignored if an 'If-Match' parameter is also provided.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A blueprint of a content item.",
                  "$ref": "#/components/schemas/Blueprint"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/content": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Create content",
        "description": "Create a new content item.",
        "operationId": "Content_Create",
        "parameters": [
          {
            "$ref": "#/components/parameters/SkipValidation"
          },
          {
            "$ref": "#/components/parameters/Prefer"
          }
        ],
        "requestBody": {
          "description": "The content item that should be created.",
          "content": {
            "application/json": {
              "schema": {
                "description": "New content and the initial data required to create it.",
                "$ref": "#/components/schemas/NewContent"
              }
            },
            "multipart/form-data": {
              "schema": {
                "required": [
                  "content",
                  "file"
                ],
                "type": "object",
                "properties": {
                  "content": {
                    "description": "New content and the initial data required to create it.",
                    "$ref": "#/components/schemas/NewContent"
                  },
                  "file": {
                    "type": "string",
                    "description": "The media file to upload.",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "content": {
                  "contentType": "application/json"
                },
                "file": {
                  "contentType": "application/octet-stream"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              },
              "Location": {
                "description": "Indicates the URL of the newly-created resource.",
                "schema": {
                  "type": "string"
                }
              },
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "The result of creating a new content item.",
                  "$ref": "#/components/schemas/NewContentNode"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/content/{key}:copy": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Copy content",
        "description": "Create a copy of the content item with the provided key.",
        "operationId": "Content_Copy",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content item to copy.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Prefer"
          },
          {
            "$ref": "#/components/parameters/AcceptResource"
          }
        ],
        "requestBody": {
          "description": "Optional instructions for how to copy content.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Options for copying content.",
                "$ref": "#/components/schemas/CopyContentOptions"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "description": "Indicates the URL of the newly-created resource.",
                "schema": {
                  "type": "string"
                }
              },
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "Metadata about a content item in the content hierarchy — ownership, localization, and audit information — but not its property values.",
                  "$ref": "#/components/schemas/ContentNode"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/content/{key}:undelete": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Restore content",
        "description": "Restore the deleted content item with the provided key. If a content item with the provided key is not deleted an error is returned.",
        "operationId": "Content_Undelete",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content item to undelete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Prefer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Location": {
                "description": "Indicates the standard location for the data returned in this response.",
                "schema": {
                  "type": "string"
                }
              },
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "Metadata about a content item in the content hierarchy — ownership, localization, and audit information — but not its property values.",
                  "$ref": "#/components/schemas/ContentNode"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/content/{key}": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Get content node",
        "description": "Get content node with the provided key.",
        "operationId": "Content_GetNode",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content to retrieve the node for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AcceptResource"
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "If provided and the value matches the RFC7232 ETag of the current resource a 304 NotModified response will be returned. Weak ETags will always be ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "description": "If provided and the resource has not been modified since the date a 304 NotModified response will be returned. This parameter will be ignored if an 'If-None-Match' parameter is also provided.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "Metadata about a content item in the content hierarchy — ownership, localization, and audit information — but not its property values.",
                  "$ref": "#/components/schemas/ContentNode"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Content"
        ],
        "summary": "Patch content",
        "description": "Patch an existing content item. If a content item with the provided key does not exist an error is returned.",
        "operationId": "Content_PatchNode",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content item to patch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Prefer"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If provided, the PATCH request will only be considered if the value matches the RFC7232 ETag of the current resource. Weak ETags will always be ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "description": "If provided, the PATCH request will only be considered if the resource has not been modified since the provided date. This parameter will be ignored if an 'If-Match' parameter is also provided.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          }
        ],
        "requestBody": {
          "description": "The values of the content item that should be patched.",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ContentNodePatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              },
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "Metadata about a content item in the content hierarchy — ownership, localization, and audit information — but not its property values.",
                  "$ref": "#/components/schemas/ContentNode"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Content"
        ],
        "summary": "Delete content",
        "description": "Deletes the content item with the provided key. If a content item with the provided key does not exist an error is returned.",
        "operationId": "Content_Delete",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content item to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Prefer"
          },
          {
            "name": "cms-permanent-delete",
            "in": "header",
            "description": "Indicates that the content item should be permanently deleted immediately or if it should be soft deleted first.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If provided, the DELETE request will only be considered if the value matches the RFC7232 ETag of the current resource. Weak ETags will always be ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "description": "If provided, the DELETE request will only be considered if the resource has not been modified since the provided date. This parameter will be ignored if an 'If-Match' parameter is also provided.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "Metadata about a content item in the content hierarchy — ownership, localization, and audit information — but not its property values.",
                  "$ref": "#/components/schemas/ContentNode"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/content/{key}/assets": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "List assets",
        "description": "List the assets that belongs to a content instance.",
        "operationId": "Content_ListAssets",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content to retrieve assets for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentTypes",
            "in": "query",
            "description": "Indicates which content types or base types to include in the list.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Zero based index of the page that should be retrieved.",
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum items per page that should be retrieved.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A single page of items in a paged collection, including paging metadata such as the current page index, page size, and an estimated total item count.",
                  "$ref": "#/components/schemas/ContentNodePage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/content/{key}/items": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "List content in container",
        "description": "List the content items located in a specific container.",
        "operationId": "Content_ListItems",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content to retrieve items for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentTypes",
            "in": "query",
            "description": "Indicates which content types or base types to include in the list.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Zero based index of the page that should be retrieved.",
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum items per page that should be retrieved.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A single page of items in a paged collection, including paging metadata such as the current page index, page size, and an estimated total item count.",
                  "$ref": "#/components/schemas/ContentNodePage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/content/{key}/locales/{locale}": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "List locale versions",
        "description": "List versions of the content with the provided key and locale.",
        "operationId": "Content_ListLocaleVersions",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content item for which versions should be listed.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "path",
            "description": "The locale of the content item for which versions should be listed.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Zero based index of the page that should be retrieved.",
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum items per page that should be retrieved.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A single page of items in a paged collection, including paging metadata such as the current page index, page size, and an estimated total item count.",
                  "$ref": "#/components/schemas/ContentVersionPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Content"
        ],
        "summary": "Delete locale",
        "description": "Deletes a branch of the content with the provided key and locale. Returns the published or latest content item in the locale that was deleted. If a content item with the provided key does not exist an error is returned.",
        "operationId": "Content_DeleteLocale",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content item that should be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "path",
            "description": "The locale that should be deleted for the content item.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Prefer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A version of a content item.",
                  "$ref": "#/components/schemas/ContentVersion"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/content/{key}/path": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Get content path",
        "description": "Get the content path with the provided key.",
        "operationId": "Content_GetPath",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content path to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Zero based index of the page that should be retrieved.",
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum items per page that should be retrieved.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A single page of items in a paged collection, including paging metadata such as the current page index, page size, and an estimated total item count.",
                  "$ref": "#/components/schemas/ContentNodePage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/content/{key}/versions": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "List versions",
        "description": "List versions of the content item with the provided key and the provided options.",
        "operationId": "Content_ListVersions",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content item for which versions should be listed.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locales",
            "in": "query",
            "description": "Optional list of locales that should be included. Locale must be a valid IETF BCP-47 language tag. Use 'NEUTRAL' to include locale-neutral content.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Optional list of status values that versions must have one of to be included.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "examples": [
                  "draft",
                  "ready",
                  "published",
                  "previous",
                  "scheduled",
                  "rejected",
                  "inReview"
                ],
                "type": "string",
                "description": "The status of a content version."
              }
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Zero based index of the page that should be retrieved.",
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum items per page that should be retrieved.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A single page of items in a paged collection, including paging metadata such as the current page index, page size, and an estimated total item count.",
                  "$ref": "#/components/schemas/ContentVersionPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Create version",
        "description": "Create a new version of a content item.",
        "operationId": "Content_CreateVersion",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content item for which a new content version should be created.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SkipValidation"
          },
          {
            "$ref": "#/components/parameters/Prefer"
          }
        ],
        "requestBody": {
          "description": "The content version that should be created.",
          "content": {
            "application/json": {
              "schema": {
                "description": "A version of a content item.",
                "$ref": "#/components/schemas/ContentVersion"
              }
            },
            "multipart/form-data": {
              "schema": {
                "required": [
                  "content",
                  "file"
                ],
                "type": "object",
                "properties": {
                  "content": {
                    "description": "A version of a content item.",
                    "$ref": "#/components/schemas/ContentVersion"
                  },
                  "file": {
                    "type": "string",
                    "description": "The media file to upload.",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "content": {
                  "contentType": "application/json"
                },
                "file": {
                  "contentType": "application/octet-stream"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              },
              "Location": {
                "description": "Indicates the URL of the newly-created resource.",
                "schema": {
                  "type": "string"
                }
              },
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A version of a content item.",
                  "$ref": "#/components/schemas/ContentVersion"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/content/{key}/versions/{version}:approve": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Approve the active step of an approval for a content version that is in review. For multi-step approvals, the version remains in review until all steps are approved.",
        "operationId": "Content_Approve",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content item.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the content item.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Prefer"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If provided, the POST request will only be considered if the value matches the RFC7232 ETag of the current resource. Weak ETags will always be ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "description": "If provided, the POST request will only be considered if the resource has not been modified since the provided date. This parameter will be ignored if an 'If-Match' parameter is also provided.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          }
        ],
        "requestBody": {
          "description": "Options for the approval decision. Use 'force' to bypass the normal approval flow (requires admin access).",
          "content": {
            "application/json": {
              "schema": {
                "description": "Options for approving or rejecting a content version.",
                "$ref": "#/components/schemas/ApprovalDecisionOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              },
              "Content-Location": {
                "description": "Indicates the standard location for the data returned in this response.",
                "schema": {
                  "type": "string"
                }
              },
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A version of a content item.",
                  "$ref": "#/components/schemas/ContentVersion"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/content/{key}/versions/{version}:draft": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Change content version into draft status.",
        "operationId": "Content_Draft",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content item.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the content item.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Prefer"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If provided, the POST request will only be considered if the value matches the RFC7232 ETag of the current resource. Weak ETags will always be ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "description": "If provided, the POST request will only be considered if the resource has not been modified since the provided date. This parameter will be ignored if an 'If-Match' parameter is also provided.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              },
              "Content-Location": {
                "description": "Indicates the standard location for the data returned in this response.",
                "schema": {
                  "type": "string"
                }
              },
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A version of a content item.",
                  "$ref": "#/components/schemas/ContentVersion"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/content/{key}/versions/{version}:publish": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Publish content version",
        "operationId": "Content_Publish",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content item to publish.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the content item to publish.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Prefer"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If provided, the POST request will only be considered if the value matches the RFC7232 ETag of the current resource. Weak ETags will always be ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "description": "If provided, the POST request will only be considered if the resource has not been modified since the provided date. This parameter will be ignored if an 'If-Match' parameter is also provided.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          }
        ],
        "requestBody": {
          "description": "Optional instructions for how to publish content.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Options for publishing a content version.",
                "$ref": "#/components/schemas/PublishContentOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              },
              "Content-Location": {
                "description": "Indicates the standard location for the data returned in this response.",
                "schema": {
                  "type": "string"
                }
              },
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A version of a content item.",
                  "$ref": "#/components/schemas/ContentVersion"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/content/{key}/versions/{version}:ready": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Make content ready to publish, if approvals are required the version will automatically be moved to in review.",
        "operationId": "Content_Ready",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content item.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the content item.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Prefer"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If provided, the POST request will only be considered if the value matches the RFC7232 ETag of the current resource. Weak ETags will always be ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "description": "If provided, the POST request will only be considered if the resource has not been modified since the provided date. This parameter will be ignored if an 'If-Match' parameter is also provided.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          }
        ],
        "requestBody": {
          "description": "Optional instructions such as a comment for the approval.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Options for transitioning a content version to ready status.",
                "$ref": "#/components/schemas/ReadyContentOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              },
              "Content-Location": {
                "description": "Indicates the standard location for the data returned in this response.",
                "schema": {
                  "type": "string"
                }
              },
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A version of a content item.",
                  "$ref": "#/components/schemas/ContentVersion"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/content/{key}/versions/{version}:reject": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Reject a content version that is in review. The version transitions to rejected status regardless of remaining approval steps.",
        "operationId": "Content_Reject",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content item.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the content item.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Prefer"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If provided, the POST request will only be considered if the value matches the RFC7232 ETag of the current resource. Weak ETags will always be ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "description": "If provided, the POST request will only be considered if the resource has not been modified since the provided date. This parameter will be ignored if an 'If-Match' parameter is also provided.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          }
        ],
        "requestBody": {
          "description": "Options for the rejection decision. Use 'force' to bypass the normal approval flow (requires admin access).",
          "content": {
            "application/json": {
              "schema": {
                "description": "Options for approving or rejecting a content version.",
                "$ref": "#/components/schemas/ApprovalDecisionOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              },
              "Content-Location": {
                "description": "Indicates the standard location for the data returned in this response.",
                "schema": {
                  "type": "string"
                }
              },
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A version of a content item.",
                  "$ref": "#/components/schemas/ContentVersion"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/content/{key}/versions/{version}": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Get version",
        "description": "Get the content item with the provided key and version.",
        "operationId": "Content_GetVersion",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "If provided and the value matches the RFC7232 ETag of the current resource a 304 NotModified response will be returned. Weak ETags will always be ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "description": "If provided and the resource has not been modified since the date a 304 NotModified response will be returned. This parameter will be ignored if an 'If-None-Match' parameter is also provided.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A version of a content item.",
                  "$ref": "#/components/schemas/ContentVersion"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Content"
        ],
        "summary": "Patch version",
        "description": "Patch an existing content item and returns the updated content item. If a content item with the provided key does not exist an error is returned.",
        "operationId": "Content_PatchVersion",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content item that should be patched.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the content item that should be patched.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SkipValidation"
          },
          {
            "$ref": "#/components/parameters/Prefer"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If provided, the PATCH request will only be considered if the value matches the RFC7232 ETag of the current resource. Weak ETags will always be ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "description": "If provided, the PATCH request will only be considered if the resource has not been modified since the provided date. This parameter will be ignored if an 'If-Match' parameter is also provided.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          }
        ],
        "requestBody": {
          "description": "The content information that should be patched.",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ContentVersionPatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The RFC7232 ETag header field in a response provides the current entity-tag for the resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "The date and time at which the resource was last modified.",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              },
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A version of a content item.",
                  "$ref": "#/components/schemas/ContentVersion"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Content"
        ],
        "summary": "Delete version",
        "description": "Deletes the content item with the provided key and version and returns the deleted item. If a content item with the provided key does not exist an error is returned.",
        "operationId": "Content_DeleteVersion",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content item that should be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the content item that should be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Prefer"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If provided, the DELETE request will only be considered if the value matches the RFC7232 ETag of the current resource. Weak ETags will always be ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "description": "If provided, the DELETE request will only be considered if the resource has not been modified since the provided date. This parameter will be ignored if an 'If-Match' parameter is also provided.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Preference-Applied": {
                "$ref": "#/components/headers/Preference-Applied"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A version of a content item.",
                  "$ref": "#/components/schemas/ContentVersion"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/content/{key}/versions/{version}/media": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Download content media file.",
        "description": "Download the media file for a specific content item version.",
        "operationId": "Content_GetMedia",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the content item.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the content item.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
[...]
